{{!-- https://reqres.in/ --}}

{{user-list title="Users" user=model}}

  {{!-- <p>
    {{#paper-button raised=true action="raisedButton"}}Button with action{{/paper-button}}
    {{#paper-button raised=true primary=true}}Primary{{/paper-button}}
    {{#paper-button raised=true disabled=true}}disabled{{/paper-button}}
    {{#paper-button raised=true warn=true}}warn{{/paper-button}}
  </p> --}}